<br><br><br><br><br><br>
<footer style="margin-top: 5%; position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;">
  <ul>
    <br>
    <center><b style="padding-top: 10%;"><a href="https://lassemc.dk">Lavet af Lasse Mejdahl Christensen</a></b></center>
    <!-- <li><a href="#contact" id="myBtn">Kontakt</a></li>
    <li><a href="team.php">Team</a></li>
    <li><a href="scripts.php">Scripts</a></li>
    <li><a href="bans.php">Bans</a></li>
    <li><a href="servers.php">Servere</a></li> -->
    <!-- <li><a href="index.php">Forside</a></li> -->
  </ul>
</footer>
</body>
</html>
