<br><br><br><br><br><br>
<style media="screen">
  a {
    display: inline;
  }
</style>
<footer style="margin-top: 5%; position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;">
  <ul>
    <br>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <center><b style="padding-top: 10%; font-size: 20px;"><a href="https://lassemc.dk">&copy; Lasse Mejdahl Christensen | <a href="https://twitter.com/lassemc475"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/lasse-christensen-a5976b150/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/lassemc475/"><i class="fab fa-github"></i></a> | kontakt@fivem.dk</a></b></center>
    <!-- <li><a href="#contact" id="myBtn">Kontakt</a></li>
    <li><a href="team.php">Team</a></li>
    <li><a href="scripts.php">Scripts</a></li>
    <li><a href="bans.php">Bans</a></li>
    <li><a href="servers.php">Servere</a></li> -->
    <!-- <li><a href="index.php">Forside</a></li> -->
  </ul>
</footer>
<script data-ad-client="ca-pub-5273064338147287" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</body>
</html>
