<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="../style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/ust4hqh.css">
    <title id="titel">FiveM Danmark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/Snowstorm/20131208/snowstorm-min.js"></script> -->
  </head>
  <body>
    <ul>
      <!-- <li><a href="#contact" id="myBtn">Kontakt</a></li> -->
      <li><a href="/">Forside</a></li>
      <!-- <li><a href="scripts.php">Scripts</a></li>
      <li><a href="bans.php">Bans</a></li>
      <li><a href="servers.php">Servere</a></li>
      <li><a href="index.php">Forside</a></li> -->
    </ul>
    <section class="add">
      <a href="https://discord.gg/hbV4RdgWH5"><img src="../fivemdk.png" alt="Annonce"></a>

    </section>
