{
  "token" : "find token på discord dev side",
  "prefix" : "!",
  "footer" : "Bragt til live af Lasse Mejdahl Christensen",

  "host": "localhost",
  "user": "root",
  "password": "",
  "database": "vrp"

}
