<%- include ("../partials/header") %>


<meta name="google-site-verification" content="bEPLx5umDPUfC2fswoYZnYFZ_3uQIYaHNkMdozNrWVQ" />

<style media="screen">
  tr:nth-child(even){background-color: #f2f2f2;}
  .index-page {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #505050;
    border-radius: 5px;
    border-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
}
</style>



<div class="index-page" id="index-page">
  <h3>Hov! Denne side findes ikke</h3><br>
  <b>Hvis du mener dette er en fejl, så kontakt os på DK FiveM Discord'en</b><br><br>

  <h4><a href="/">Kom til forsiden her</a></h4>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113210248-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113210248-1');
</script>




<%- include ("../partials/footer") %>
