<%- include ("../partials/header") %>


<meta name="google-site-verification" content="bEPLx5umDPUfC2fswoYZnYFZ_3uQIYaHNkMdozNrWVQ" />

<style media="screen">
  tr:nth-child(even){background-color: #f2f2f2;}
  .index-page {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #505050;
    border-radius: 5px;
    border-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
}

li {
  float: none;
}

#ulfix {
  height: 650px;
}
</style>





<div class="index-page" style="height: 100%;">

  <p><strong><em>DK FiveM Bot opsætning og commands:</em></strong></p>
  <p><strong>Ticket system:</strong></p>
  <ul>
  <li>Sæt op: !setup -- Skriv det i den kanal hvor dit embed med tickedt systemet skal være.</li>
  <li>Sæt ticket rolle: !ticketrole -- med rollen og den rolle har adgang til at se ticket (hvis rollen ikke har admin)</li>
  <li>Luk en ticket: !closeticket -- Luk ticket</li>
  <li>lav en kanal med navnet "logs", botten vil så logge alle ticket's i den kanal.</li>
  </ul>
  <p><strong>Ghostping:</strong></p>
  <ul>
  <li>lav en kanal med navnet "ghostping", botten vil så logge alle pings/@'s i den kanal.</li>
  </ul>
  <p><strong>Invites:</strong> (Kommer snart med en "velkommen" besked)</p>
  <ul>
  <li>Check medlem for invites !invites</li>
  </ul>
  <p><strong>Vote systemet:</strong></p>
  <ul>
  <li>Server cfx: !cfx -- med servernavn efter</li>
  <li>Vote: !vote -- med cfx efter, så har man placeret et vote</li>
  <li>Se top 10: !top</li>
  <li>Se hjemmeside: !hjemmeside -- Sender et link med hjemmesiden hvor der også kan votes</li>
  </ul>
  <p><strong>Andre commands:</strong></p>
  <ul>
  <li>Brug !cmd -- for at få en besked med alle commands
  <em>Listen over commands:</em></li>
  </ul>
  <ul id="ulfix">
  <li>logo</li>
  <li>testserver</li>
  <li>skabelon</li>
  <li>handlingsfiler</li>
  <li>artifacts</li>
  <li>ascii</li>
  <li>blips</li>
  <li>apikey</li>
  <li>props</li>
  <li>fuckedup</li>
  <li>Staff</li>
  <li>ledichat</li>
  <li>problem</li>
  <li>fivem</li>
  <li>licensekey</li>
  <li>chat</li>
  <li>rpradio</li>
  <li>mumblevoip</li>
  <li>onesync</li>
  <li>failedtocreateenvironment</li>
  <li>keybinds</li>
  <li>dllfiler</li>
  <li>serverejer</li>
  <li>bot</li>
  <li>fivemdk</li>
  <li>streamer</li>
  <li>mod</li>
  <li>verifye</li>
  <li>!grafikkort</li>
  <li>grafikkort</li>
  <li>verifysteam</li>
  <li>drawmarker</li>
  <li>visual</li>
  <li>bot</li>
  <li>roller</li>
  </ul>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113210248-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113210248-1');
</script>




<%- include ("../partials/footer") %>
